
<appheader></appheader>
<div>
  <label>Recent Posts</label>
    <mat-card *ngFor ="let chats of chatlist" class="example-card">
        <mat-card-content>
     
            <img class="img"  id="image" src="{{chats.image}}" height="150px">
            <p mat-line>{{chats.description}}</p>
      <div class="map">
          <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
       </div>
      </mat-card-content>
    </mat-card>        
</div>
<img *ngIf="image" [src]="image" height="200" name="img">
  
<input type='file' (change)="onSelectFile($event)" style="display:none" #file> 


  <button mat-raised-button color="primary" id="upfile1" style="cursor:pointer" (click)="file.click()">Upload Images</button>
  
<div class="container">
  <mat-form-field>
    <input matInput placeholder="Your comments" [(ngModel)]="msg">
    <mat-icon matSuffix class="icon" (click)="saveChat($event)" style="cursor:pointer">send</mat-icon>
 </mat-form-field>
</div>
<mat-error *ngIf="Response">{{Response}}</mat-error>
 
<!--<button mat-raised-button color="primary" (click)="uploadimages()">upload</button>

<div class="img-container">
      <img class="uploadedimage" [src]="photo" id="cameraimage" />
</div>-->









