<appheader></appheader>
<div class="mat-elevation-z8">
    <table mat-table *ngFor="let project of assignedprojects">
  
      <!-- Position Column -->
      <ng-container matColumnDef="project id">
        <th mat-header-cell *matHeaderCellDef> project Id </th>
        <td mat-cell> {{project.projectid}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="project name">
        <th mat-header-cell *matHeaderCellDef> Project Name </th>
        <td mat-cell> {{project.projectname}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> User Name </th>
        <td mat-cell> {{project.username}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell> {{project.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell> {{project.phone}} </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
  </div>