/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-icons/iconfont/material-icons.css";
/* .mat-form-field-wrapper {
    padding-bottom: 8px !important;
  }
  .mat-form-field-underline {
    bottom: 0.25em !important;
  }
  .mat-card-title
  {
      margin-bottom: 0px;
  } */
  .mat-dialog-container
  {
    padding:0px 0px;
  }
  